<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <button class="accordion">Router T-GYE:</button>
      <div  class="card-body all-icons panel" style="display:none;">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> BGP Clear 10
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Fort flap 12
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port Shut 5
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <button class="accordion">Router T-UIO:</button>
      <div  class="card-body all-icons panel" style="display:none;">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> BGP Clear 10
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port flap 12
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port Shut 5
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <button class="accordion">Router T-CUE:</button>
      <div  class="card-body all-icons panel" style="display:none;">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> BGP Clear 10
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port flap 12
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port Shut 5
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <button class="accordion">Router T-ESM:</button>
      <div  class="card-body all-icons panel" style="display:none;">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> BGP Clear 10
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port flap 12
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-body">
                <canvas class="speddChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Anomaly</p>
                      <p class="card-title Anomaly"> Port Shut 5
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


